.weather-header {
  display: flex;
  align-items: center;
  margin-bottom: 58px;
}

.cross {
  width: 21px;
  height: 21px;
  margin-right: 106.33px;
  position: relative;
}

.cross::after {
  content: "";
  height: 100%;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%, 0);
  width: 3px;
  background-color: #ffffff;
  border-radius: 50px;
}

.cross::before {
  content: "";
  width: 100%;
  position: absolute;
  top: 50%;
  transform: translate(0, -50%);
  height: 3px;
  background-color: #ffffff;
  border-radius: 50px;
}

.cities {
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  letter-spacing: -0.24px;
  color: #ffffff;
  margin-bottom: 4px;
}

.navigation {
  display: flex;
  justify-content: center;
  align-items: center;
}

.navigation__city {
  width: 8px;
  height: 8px;
  border: 1px solid #ffffff;
  background-color: #ffffff;
  border-radius: 50%;
}
