.weather-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.weather-img {
  height: 198px;
  margin-bottom: 24px;
}

.week-day {
  padding-right: 24px;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 120%;
  letter-spacing: -0.24px;
  color: #ffffff;
  position: relative;
}

.week-day::after {
  content: "";
  position: absolute;
  top: 0;
  right: 11px;
  width: 2px;
  height: 100%;
  background: #ffffff;
}

.data {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 120%;
  letter-spacing: -0.24px;
  color: #ffffff;
  text-align: center;
  margin-bottom: 16px;
}

.weather-forecast > p:first-child {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 72px;
  line-height: 120%;
  letter-spacing: -0.24px;
  color: #ffffff;
  position: relative;
}

.weather-forecast {
  text-align: center;
}

.weather-forecast > p:first-child::after {
  content: "";
  position: absolute;
  top: 10px;
  border: 2px solid #ffffff;
  border-radius: 50%;
  width: 8px;
  height: 8px;
}

.weather-forecast > p:last-child {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 120%;
  letter-spacing: -0.24px;
  color: #ffffff;
  margin-bottom: 16px;
}
