#root {
  background-image: none;
}

.error {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.error__name {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 25px;
  margin-bottom: 10px;
}
.error__home-link {
  display: flex;
  justify-content: center;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 25px;
}
